{% extends 'layout.twig' %}
{% extends 'error.twig' %}
{% block body %}
    <h1>{{ title }}</h1>
    <hr>
    <p>Welcome to {{ title }}</p>
    {#retrive from dummy data #}
    {% for item in post %}
        <ul>
            <li>{{ item.id }}) {{ item.name }}</li>
        </ul>
    {% endfor %}
    {#--------------------------------#}
    <br>
    <hr>
    <div class="details-form mb-5">

        {% if success %}
            {% for message in success %}
                <div class="alert alert-success">{{ message.message }}</div>
            {% endfor %}
        {% endif %}

        <form action="/submit" method="post">
            <h2>Form Details:</h2>
            {#{{ messages('messages',locals) }}#}

            <div class="form-group">
                <label for="fname">First Name:</label>
                <input type="text" name="firstname" class="form-control">
                {% if err %}
                    {% for item in err %}
                        {% if item.firstname %}
                            <p style="color: red">{{ item.firstname.msg }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="lname">Last Name:</label>
                <input type="text" name="lastname" class="form-control">
                {% if err %}
                    {% for item in err %}
                        {% if item.lastname %}
                            <p style="color: red">{{ item.lastname.msg }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>

    <h2>Post data from submit Form :</h2>
    {#<p>hello {{ name }}... what are you up to!</p>#}

    <form action="/delete" method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Sr.No</th>
                <th>Fullname</th>
                <th>Action-1</th>
                <th>Action-2</th>
            </tr>
            </thead>
            <tbody>
            {% set id = 1 %}
            {% for item in persons %}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ item.firstName }} &nbsp {{ item.lastName }}</td>
                    <td>
                        <button type="submit" class="btn btn-danger" name="person_to_delete" value="{{ item._id }}">
                            Delete
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#updateModal-{{ item.id }}">Update
                        </button>
                    </td>
                </tr>
                {% set id = id + 1 %}
                {% set item_id = item.id %}
            {% endfor %}
            </tbody>
        </table>
    </form>

    {% for item in persons %}
        {#---UpdateModal--------#}
        <form action="/update/{{ item.id }}" method="post">
            <!-- The Modal -->
            <div class="modal" id="updateModal-{{ item.id }}">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Update</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <table>
                                <tr>
                                    {#<td><input type="text" name="person_id_to_update" value="{{ item._id }}" hidden readonly></td>#}
                                    <td>First Name:<input type="text" class="form-control" name="updatefirstname"
                                                          value="{{ item.firstName }}"
                                                          required></td>
                                    <td>Last Name: <input type="text" class="form-control" name="updatelastname"
                                                          value="{{ item.lastName }}"
                                                          required></td>
                                </tr>
                            </table>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary">Update</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    {% endfor %}

{% endblock %}
